.nav_{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: coral;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: ;
    font-weight: bold;
    font-size: 1.5em;
}