.nav_{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: coral;
    height: 50px;
    width: 100%;
    align-items: center;
    list-style: none;
    margin : 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: ;
    font-weight: bold;
    font-size: 1.5em;
}